<div class="row justify-content-center">
  <div class="card text-center hexagon d-flex align-self-center" style="width: 18rem;">
    <iframe
      class="embed-responsive-item"
      class="card-img-top"
      src="https://www.youtube.com/embed/qN3OueBm9F4"
      allowfullscreen>
    </iframe>
    <div class="card-body">
      <h5 class="card-title">Title from database here</h5>
      <a href="#" class="btn btn-primary">comment</a>
    </div>
    <div class="card-footer d-flex justify-content-around">
      <div>
        <img id="like-icon" src="/documents/like.svg">
        <small class="text-center">10</small>
      </div>
      <div>
        <small class="text-center">4/5</small>
        <img id="star-icon" src="/documents/star_24.png">
      </div>
    </div>
  </div>

  <div class="card text-center hexagon d-flex align-self-center" style="width: 18rem;">
    <img src="/documents/honeycomb.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title from db</h5>
      <p class="card-text">description from db</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer">
      <small class="text-muted ">need access to db for time</small>
    </div>
  </div>

  <div class="card text-center hexagon d-flex align-self-center" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">Title from DB</h4>
      <p class="card-text">
        Description from DB
      </p>
      <a href="#!" class="card-link">Link to ind res page</a>
      <a href="#!" class="card-link">Link to actual url?</a>
    </div>
  </div>
</div>
