
<!-- video card -->
${
  if resources.media_type = ${video} load resource into video container
  if resources.media_type = ${image} load resource into image container
  if resources.media_type = ${article} resource into ${article} container
}

  <div class="card text-center hexagon d-flex align-self-center" style="width: 18rem;">
    <iframe
      class="embed-responsive-item"
      class="card-img-top"
      src="https://www.youtube.com/embed/qN3OueBm9F4"
      allowfullscreen>
    </iframe>
    <div class="card-body">
      <h5 class="card-title">Title from database here</h5>
      <a href="#" class="btn btn-primary">comment</a>
    </div>
    <div class="card-footer d-flex justify-content-around">
      <div>
        <img id="like-icon" src="/documents/like.svg">
        <small class="text-center">10</small>
      </div>
      <div>
        <small class="text-center">4/5</small>
        <img id="star-icon" src="/documents/star_24.png">
      </div>
    </div>
  </div>

<!-- video card ends -->

<!-- picture card -->
  <div class="card text-center hexagon d-flex align-self-center" style="width: 18rem;">
    <img src="/documents/eagle.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title from db</h5>
      <a href="#" class="btn btn-primary">comment</a>
    </div>
    <div class="card-footer d-flex justify-content-around">
      <div>
        <img id="like-icon" src="/documents/like.svg">
        <small class="text-center">10</small>
      </div>
      <div>
        <small class="text-center">4/5</small>
        <img id="star-icon" src="/documents/star_24.png">
    </div>
  </div>
</div>




<!-- picture card ends -->

<!-- text card  -->
<div class="card text-center hexagon d-flex align-self-center text-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <small>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </small>
    <a href="#" class="btn btn-primary">comment</a>
  </div>
  <div class="card-footer d-flex justify-content-around">
    <div>
      <img id="like-icon" src="/documents/like.svg">
      <small class="text-center">10</small>
    </div>
    <div>
      <small class="text-center">4/5</small>
      <img id="star-icon" src="/documents/star_24.png">
  </div>
</div>
</div>
<!-- text card ends -->
