
<!-- not logged in -->
<header>
      <nav class="nav sticky-top">
        <img src="/documents/honeycomb.svg" class="my-2">
        <h3 class="logo-text">honeyComb</h3>


      </nav>
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <a type="submit" class="btn btn-secondary" href="/api/users/register">Register</a>
            <a type="button" class="btn btn-secondary" href="/api/users/login">Login</a>

          </div>
<form id="categorselection" method="POST" action="/api/users">
  <div >
    <select name="catselect" class="custom-select" id="inputGroupSelect02">
      <option selected>Choose...</option>
      <option value="Food">Food</option>
      <option value="Hobbies">Hobbies</option>
      <option value="Health">Health</option>
      <option value="Education">Education</option>
      <option value=" ">All Categories</option>
    </select>
    <div class="input-group-append">
      <label class="" for="inputGroupSelect02">Options</label>
    </div>
  </div>
</form>

  </header>

