
<!-- not logged in -->
<header>
      <nav class="nav sticky-top">
        <img src="/documents/honeycomb.svg" class="my-2">
        <h3 class="logo-text">honeyComb</h3>

        <div class="dropdown d-flex my-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search by Category
          </button>
          <!-- Needs to filter results -->
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Food</a>
            <a class="dropdown-item" href="#">Hobbies</a>
            <a class="dropdown-item" href="#">Health</a>
            <a class="dropdown-item" href="#">Education</a>
          </div>
      </nav>
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Register</button>
            <button type="button" class="btn btn-secondary">Login</button>
          </div>


  </header>

