

    <img src="/documents/honeycomb.svg" class="my-2">
    <h3 class="logo-text">honeyComb</h3>

<!-- <div>resource.user_name</div> -->
<form id="categorselection" method="POST" action="/api/users">
  <div >
    <select name="catselect" class="custom-select" id="inputGroupSelect02">
      <option selected>choose...</option>
      <option value="Food">food</option>
      <option value="Hobbies">hobbies</option>
      <option value="Health">health</option>
      <option value="Education">education</option>
      <option value=" ">allCategories</option>
    </select>
    <div class="input-group-append">

    </div>
  </div>
</form>

<div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic example">
      <a type="submit" class="btn btn-secondary" href="/api/resources/new_content">newContent</a>
      <a type="button" class="btn btn-secondary" href="/api/resources/myresources">myResources</a>
      <a type="button" class="btn btn-secondary" href="/api/resources">home</a>
</div>

