
@import "header";
@import "nav";
@import "layout";

body {
  background-color: orange;
}
.pa-0{
  padding: 0;
}




.scroll-view {
  overflow: scroll;
  height: 100vh;
}
.hexagon {
clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
height: 315px ;
width: 90%height;
}

.logo-text {
  color: red;
}

.card{
  width: 300;
}
